{% extends "layout.html" %}

{% block content %}
<main class="hero-section">
    <div class="container">

        <div class="section-tabs">
            <div class="places">
                {% for place in places %}
                <article>
                    <a class="name" href="{{ place['url'] }}" target="_blank">{{ place['name'] }}</a>
                    <p class="walking-distance">{{ place['time'] }} min away</p>
                </article>
                {% endfor %}
            </div>
        </div>

        <div class="section-map">
            <div class="nav">
                <form method="POST" action="/home">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {% if form.address.errors %}
                        {% for error in form.address.errors %}
                        <p class="error-message">{{ error }}</p>
                        {% endfor %}
                        {% endif %}

                        {{ form.address(placeholder="Explore nearby") }}
                    </div>

                    {{ form.submit(class="btn-primary") }}
                </form>
            </div>

            <div id="map"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</main>

<script type="text/javascript">
    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    var map = L.map('map').setView([40.712, -74.006], 11);

    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });

    // Now add the layer onto the map
    map.addLayer(layer);

    // It even opens up a popup when you click it!
    L.marker([40.712, -74.006]).addTo(map)
        .bindPopup("<strong>Henry Street School</strong>").openPopup();
</script>

{% endblock %}